body, td {
    margin: 0px;
    line-height: 20px;
    font-size: 12px;
    font-family: Î¢ÈíÑÅºÚ;
    color: #000000;
}

submitcss {
    border-top-width: 0px;
    border-left-width: 0px;
    background: url(../images/btn.png) no-repeat;
    border-bottom-width: 0px;
    width: 74px;
    cursor: hand;
    color: #ffffff;
    height: 21px;
    border-right-width: 0px;
}

textcss {
    border-right: #404040 1px solid;
    padding-right: 0px;
    border-top: #404040 1px solid;
    padding-left: 5px;
    font-size: 9pt;
    background: url(../images/input.png) repeat-x;
    padding-bottom: 2px;
    border-left: #404040 1px solid;
    color: #212121;
    padding-top: 2px;
    border-bottom: #404040 1px solid;
}


.inputCss {
    height: 20px;
    width: 250px;
}

a:link {
    font-size: 12px;
    color: #000000;
    text-decoration: underline;
}

a:visited {
    font-size: 12px;
    color: #000000;
    text-decoration: underline;
}

a:hover {
    font-size: 12px;
    color: #CF7500;
    text-decoration: none;
}

a.na:link {
    font-size: 12px;
    font-weight: bold;
    color: Red;
    text-decoration: none;
}

a.na:visited {
    font-size: 12px;
    font-weight: bold;
    color: Red;
    text-decoration: none;
}

a.na:hover {
    font-size: 12px;
    font-weight: bold;
    color: Red;
    text-decoration: underline;
}

a.hei:link {
    font-size: 12px;
    color: Black;
    text-decoration: none;
}

a.hei:visited {
    font-size: 12px;
    color: Black;
    text-decoration: none;
}

a.hei:hover {
    font-size: 12px;
    color: Black;
    text-decoration: underline;
}

a.heiBold:link {
    font-size: 12px;
    font-weight: bold;
    color: Black;
    text-decoration: underline;
}

a.heiBold:visited {
    font-size: 12px;
    font-weight: bold;
    color: Black;
    text-decoration: underline;
}

a.heiBold:hover {
    font-size: 12px;
    font-weight: bold;
    color: Black;
    text-decoration: underline;
}

a.BlueCss:link {
    font-size: 12px;
    color: Blue;
    text-decoration: none;
}

a.BlueCss:visited {
    font-size: 12px;
    color: Blue;
    text-decoration: none;
}

a.BlueCss:hover {
    font-size: 12px;
    color: Blue;
    text-decoration: underline;
}


a.bai:link {
    font-size: 12px;
    color: White;
    text-decoration: none;
}

a.bai:visited {
    font-size: 12px;
    color: White;
    text-decoration: none;
}

a.bai:hover {
    font-size: 12px;
    color: White;
    text-decoration: none;
}

.TextBoxCss {
    height: 20px;
    width: 140px;
}

.HerCss {
    cursor: hand;
}

.tddisp {
    display: none;
}

.TextBoxCss {
    font-size: 12px;
    color: Black;
    width: 250px;
}

.ButtonCss {
    font-size: 12px;
}

.DropCss {
    font-size: 12px;
}

.TreeBG {
    background-image: url(../images/TreeBG.jpg);
    background-repeat: repeat-x;
    text-align: center;
}

a.SSCss:link {
    font-size: 12px;
    color: Blue;
    text-decoration: none;
}

a.SSCss:visited {
    font-size: 12px;
    color: Blue;
    text-decoration: none;
}

a.SSCss:hover {
    font-size: 12px;
    color: Blue;
    text-decoration: underline;
}

a.CPCss:link {
    font-size: 12px;
    color: Red;
    text-decoration: none;
}

a.CPCss:visited {
    font-size: 12px;
    color: Red;
    text-decoration: none;
}

a.CPCss:hover {
    font-size: 12px;
    color: Red;
    text-decoration: underline;
}

.TextCenter {
    text-align: center;
}

.TodoSecond {
}

#FirstLine {
    height: 200px;
    width: 1000px;
    margin: auto;
}

.TodoFirst {
    border: 1px solid #1c7cff;
    background-color: #ffffff;
    width: 45%;
    margin: 10px 10px 10px 10px;
    height: 105%;
    float: left;
    border: 1px solid #aaa;
    background-color: #f3f3f3;
}

    .TodoFirst ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

        .TodoFirst ul li {
            list-style: none;
            margin: 0px;
            line-height: 30px;
        }

.TodoSecond {
    border: 1px solid #1c7cff;
    margin: 10px 10px 10px 10px;
    width: 45%;
    height: 105%;
    float: left;
    border: 1px solid #aaa;
    background-color: #f3f3f3;
}

    .TodoSecond ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

        .TodoSecond ul li {
            list-style: none;
            margin: 0px;
            line-height: 30px;
        }

.Todotittle {
    color: #404040;
    position: inherit;
    left: 0px;
    right: 0px;
    top: 0px;
    border-bottom: 1px solid #aaa;
    background-color: #ddd;
    height: 30px;
}

.TodoDetail {
    color: #53767f;
    position: inherit;
    margin: 3px 3px 3px 3px;
    background-color: #87d6e8;
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #5179ca;
}

    .TodoDetail:hover {
        border: 1px solid #ff7500;
    }

.readOnly {
    background-color: rgb(235, 235, 228);
}

.Contentover {
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.wtdsty {
    font-size: 12px;
    color: #404040;
    text-decoration: none;
}

    .wtdsty:hover {
        font-size: 12px;
        color: #ff7500;
        text-decoration: none;
    }

.showShenPiYiJianFormat {
    width: 700px;
    /*height: 100%;*/
    word-wrap: break-word;
}

.hidden {
    display: none;
}

.dwtz {
    width: 95%;
    max-width: 863px;
    height: 320px;
    overflow: hidden;
    border: solid 1px #c8c8c8;
    margin-top: 10px;
}

    .dwtz .tab_top {
        height: 35px;
        background-color: #dbdbdb;
        border: solid 1px #c4c8cc;
    }

        .dwtz .tab_top li {
            list-style: none;
            display: inline-block;
            text-align: center;
            font-size: 16px;
            width: 275px;
            line-height: 35px;
            font-weight: bold;
            cursor: pointer;
            float: left;
        }

            .dwtz .tab_top li a {
                text-decoration: none;
            }

                .dwtz .tab_top li a:hover {
                    text-decoration: none;
                    color: #0084d1;
                }

    .dwtz .contain li a {
        text-decoration: none;
    }

        .dwtz .contain li a:hover {
            text-decoration: none;
            color: #0084d1;
        }

    .dwtz .contain {
        padding-top: 2px;
    }

    /*.dwtz .contain li {
        padding-left: 30px;
        height: 29px;
        line-height: 29px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }*/

    /*.dwtz .contain a:hover {
        color: #49A0F2;
        text-decoration: none;
    }

    .dwtz .contain li span {
        float: right;
        padding-right: 10px;
    }*/


    .dwtz .on {
        background-color: #fff;
        border-top: solid 2px #1e8ecf;
        height: 34px;
        border-left: solid 1px #c4c8cc;
        border-right: solid 1px #c4c8cc;
    }

    .dwtz .others {
        background: #dbdbdb;
        border: none;
    }

/*OA¶¯Ì¬*/
.oadt_list {
    width: 99%;
    float: left;
    padding: 4px 0px 4px 5px;
    overflow-y: visible;
    overflow-x: hidden;
    height: 248px;
}

    .oadt_list ul li {
        width: 700px;
        float: left;
        text-align: left;
        line-height: 20px;
        border-bottom: 1px dashed #a0a0a0;
    }

        .oadt_list ul li div dl img:hover {
            cursor: pointer;
        }

.oadt_list003 {
    width: 669px;
    float: left;
    padding: 10px 0px 10px 5px;
}

    .oadt_list003 ul li {
        width: 664px;
        float: left;
        text-align: left;
        line-height: 20px;
        border-bottom: 1px dashed #a0a0a0;
    }

.date_zwgklist {
    width: 72px;
    float: right;
    color: #454141;
    text-align: right;
}

a.news_zwdh:link {
    font-size: 14px;
    color: #323232;
    text-decoration: none;
    font-weight: bolder;
}

a.news_zwdh:visited {
    font-size: 16px;
    color: #323232;
    text-decoration: none;
    font-weight: bolder;
}

a.news_zwdh:hover {
    font-size: 16px;
    color: #de3100;
    text-decoration: none;
    font-weight: bolder;
}

a.news_zwdh:active {
    font-size: 16px;
    color: #323232;
    text-decoration: none;
    font-weight: bolder;
}

.wz_oadt_list {
    width: 690px;
    float: left;
    color: #999999;
    line-height: 20px;
    padding: 0px 0px 5px 10px;
}

.wz_oadt_list_fabu {
    width: 690px;
    float: left;
    color: #999999;
    font-size: 12px;
    line-height: 18px;
    padding: 0px 0px 0px 10px;
}


.tu_ditu_img {
    width: 70px;
    height: 70px;
    float: left;
    border: 1px solid #d9d9d9;
    margin-bottom: 4px;
    margin-top: 4px;
    cursor: pointer;
}

    .tu_ditu_img img {
        width: 70px;
        height: 70px;
    }

    .tu_ditu_img dl {
        width: 70px;
        height: 70px;
        padding: 1px;
    }

.ditu_tab_right {
    width: 600px;
    float: left;
    padding-left: 5px;
    padding-bottom: 5px;
}

.tu_ditu_list {
    background: url(../images/zwdh_images/list_ico01.jpg) no-repeat left;
    padding-left: 7px;
    background-position: left 13px;
    text-indent: 10px;
    float: left;
    text-align: left;
    font-weight: bolder;
}

.oadt_list .tu_ditu_list a {
    width: 100%;
    max-width: 600px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tu_ditu_wz {
    width: 600px;
    float: left;
    color: #999999;
    line-height: 20px;
    padding: 0px 0px 0px 9px;
    max-height: 40px;
    overflow: hidden;
    display: block;
}

.date_tu_ditu {
    width: 72px;
    float: left;
    color: #454141;
    text-align: right;
}

.tulist_fabu {
    width: 600px;
    float: left;
    color: #999999;
    font-size: 12px;
    line-height: 18px;
    padding: 0px 0px 0px 10px;
}

.article_text .article_title {
    margin-bottom: 30px;
}

    .article_text .article_title h1 {
        font-size: 20px;
        color: #00479d;
        text-align: center;
        font-weight: bold;
    }

    .article_text .article_title p {
        text-align: center;
    }

.article_text {
    width: 950px;
    margin: 0 auto;
}

.oadt_list_more {
    text-align: center;
}

    .oadt_list_more a {
        text-align: center;
        color: #999999;
        font-size: 12px;
        line-height: 18px;
        text-decoration: none;
    }

tr.ColorRed td {
    color: red;
}

    tr.ColorRed td a {
        color: red;
    }

tr.ColorGreen td {
    color: green;
}

    tr.ColorGreen td a {
        color: green;
    }

tr.ColorBlue td {
    color: #0066FF;
}

    tr.ColorBlue td a {
        color: #0066FF;
    }

.portlet.box.bluecolor {
    border: 1px solid #3ccde7;
    border-top: 0;
}

.portlet > .portlet-body.bluecolor, .portlet.bluecolor {
    background-color: #7ad2e1;
}

.portlet.box.bluecolor > .portlet-title {
    background-color: #7ad2e1;
}

.active_table {
    background-color: #fce6a2 !important;
}

.stitle {
    padding: 5px;
    border-bottom: 1px #dddddd solid;
    font-size: 14px;
}

.zhu {
    color: black;
}

.tabled2 td {
    padding: 5px;
    border: 1px #95b8e7 solid;
    text-align: center;
}

.fileInput {
    position: absolute;
    left: 0;
    top: 0;
    height: 30px;
    filter: alpha(opacity=100);
    opacity: 0;
    background-color: transparent;
}

.btn {
    width: 200px;
    height: 30px;
    background-color: deepskyblue;
    text-align: center;
    line-height: 30px;
    overflow: hidden;
    display: block;
    position: relative;
    border-radius: 3px;
}



.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

    .btn-info:focus,
    .btn-info.focus {
        color: #fff;
        background-color: #31b0d5;
        border-color: #1b6d85;
    }

    .btn-info:hover {
        color: #fff;
        background-color: #31b0d5;
        border-color: #269abc;
    }

    .btn-info:active,
    .btn-info.active,
    .open > .dropdown-toggle.btn-info {
        color: #fff;
        background-color: #31b0d5;
        border-color: #269abc;
    }

        .btn-info:active:hover,
        .btn-info.active:hover,
        .open > .dropdown-toggle.btn-info:hover,
        .btn-info:active:focus,
        .btn-info.active:focus,
        .open > .dropdown-toggle.btn-info:focus,
        .btn-info:active.focus,
        .btn-info.active.focus,
        .open > .dropdown-toggle.btn-info.focus {
            color: #fff;
            background-color: #269abc;
            border-color: #1b6d85;
        }

    .btn-info:active,
    .btn-info.active,
    .open > .dropdown-toggle.btn-info {
        background-image: none;
    }

    .btn-info.disabled,
    .btn-info[disabled],
    fieldset[disabled] .btn-info,
    .btn-info.disabled:hover,
    .btn-info[disabled]:hover,
    fieldset[disabled] .btn-info:hover,
    .btn-info.disabled:focus,
    .btn-info[disabled]:focus,
    fieldset[disabled] .btn-info:focus,
    .btn-info.disabled.focus,
    .btn-info[disabled].focus,
    fieldset[disabled] .btn-info.focus,
    .btn-info.disabled:active,
    .btn-info[disabled]:active,
    fieldset[disabled] .btn-info:active,
    .btn-info.disabled.active,
    .btn-info[disabled].active,
    fieldset[disabled] .btn-info.active {
        background-color: #5bc0de;
        border-color: #46b8da;
    }

    .btn-info .badge {
        color: #5bc0de;
        background-color: #fff;
    }


.btn-xs,
.btn-group-xs > .btn {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.MainStyle {
    text-align: right;
    font: 14px "Î¢ÈíÑÅºÚ";
    background-color: #f6f6f6;
    height: 30px;
    width:13%;
}

.TitleStyle {
    padding-left: 20px;
    line-height: 20px;
    background-color: #f6f6f6;
    background: url(../CSS/common/images/menu/icon-tabpage-title.png) no-repeat 10% 5px;
    text-align: center;
    font: 16px "ËÎÌå";
}

    .TitleStyle span {
        color: #2f84fb;
    }
    .TitleStyle strong {
        color: #2f84fb;
    }
table[id='GVData'] > tbody > tr td:nth-child(2) > a[id$='HyperLink1'] {
    color: black;
}